{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
    <div
            style="height: 100%;"
            {{ react_component('Home', { products: products , user: { email: app.user.email ?? "", id: app.user.id ?? -1 } }) }}
    >
    </div>
{% endblock %}
