{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div
            style="height: 100%;"
            {{ react_component('Admin', { user: { email: app.user.email ?? "", id: app.user.id ?? -1 }, products: products }) }}
    >
    </div>
{% endblock %}
