body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.p-datascroller {
    margin-top: 1rem;
    width: 66%;
}

.p-card-navbar {
    .p-card-body {
        padding-top: 0rem;
        padding-bottom: 0rem;

        .p-card-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                margin: 0;
            }
        }
    }
}